<!DOCTYPE html>

<html>
  <head>
    <title>RESTful Creatures</title>

    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1>RESTful Creatures</h1>
    <%- body %>
    <script src="" async defer></script>
  </body>
</html>
