<h1>New Creature</h1>
<form method="POST" action="/prehistoric_creatures">
  <label for="type">Type:</label>
  <input type="text" id="creatureType" name="type" />
  <label for="creatureImg">Img Source:</label>
  <input type="text" id="creatureImg" name="img_url" />

  <button type="submit">Add a Creature!</button>
</form>
