<form method="POST" action="/dinosaurs">
  <label for="dinosaurName">Name:</label>
  <input type="text" id="dinosaurName" name="name" />
  <label for="dinosaurType">Type:</label>
  <input type="text" id="dinosaurType" name="type" />

  <button type="submit">Add a Dino!</button>
</form>
